body{
    font-family:AlternateGothicFSNo3,"Arial Narrow";
    margin:auto;
    font-size: 15px;

}

#buttonBar {
    width: 1000px;
    height: 100px;
    background-color: whitesmoke;
}

#fileSystem {
    float: left;
    min-width: 200px;
    min-height: 800px;

    background:#252525;
    color:white;
    border: solid 1px
    padding: 20px;
}

#editor {
    float:left;
    min-width: 325px;
    min-height: 800px;
}

.buttonBarGrid table{
    margin:auto;
}

.popup
{
    background-color       :   whitesmoke;
    border                 :    3px solid black;
}

.labelError{
    color:red;
    text-align: center
}
.textAreaCodeShow
{
    border: solid 1px;
    width: 375px;
    min-height: 800px;
}

.gridBody
{
    height:800px;
}

.CodeMirror-scroll
{
    width: 375px;
    height: 825px;
}
.systemFileScrollPanel{
    min-height:800px;
}

.gwt-Tree .gwt-TreeItem-selected {
         text-decoration:underline;
}

.hiddenLabel{
visibility:hidden;
}

