 #buttonBar {
        width: 600px;
        height: 100px;
        background-color: green;
        }

        #fileSystem {
        float: left;
        width: 100px;
        height: 800px;
        background-color: pink;
        }

        #editor {
        width: 600px;
        height: 700px;
        background-color: blue;
        }