 #buttonBar {
        width: 800px;
        height: 100px;
        background-color: green;
        }

        #fileSystem {
        float: left;
        width: 300px;
        height: 800px;
        background-color: pink;
        }

        #editor {
        float:left;
        width: 500;
        height: 700px;
        background-color: blue;
        }

        .popup
        {
            background-color       :    #ffc;
            border                 :    3px solid #009;
        }

        .textAreaCodeShow
        {
           border                 :    3px solid #009;
        }